/* Always set the map height explicitly to define the size of the div
       * element that contains the map. *


/* Optional: Makes the sample page fill the window. */

html,
body {
    scroll-behavior: smooth;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

h1{
    padding: 10px;
}

.label {
    font-size: 0.8em;
    width: 2em !important;
}

.mapContainer {
    margin-bottom: 20px;
    padding: 10px;
}

#mapid {
    height: 500px;
    width: 100%;
    margin: 0 auto;
}

form {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

.btn {
    width: 100% !important;
    border: none;
    background: radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100% ) !important;
}

.card {
    width: 18rem;
    margin: 0 auto;
}

.info {
    width: 17rem;
    cursor: pointer;
}

.card-text {
    height: 10rem;
}

.about {
    height: 100vh;
}

.about h1 {
    text-align: center;
    font-size: 5em;
    margin-bottom: 40px;
}


.footer {
    color: #fff;
    font-size: 1em;
}
